/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  font-family: 'Roboto', sans-serif;
}

a, a:hover, a:focus {
  text-decoration: none;
}

a {
  color: #0c76b4;
}
a:hover
{
  color: #15476c;
}

blockquote {
  font-size: 14px;
}

hr {  
  border-top: 1px solid #0c76b4;
}

.header>h3>a
{
  text-decoration: none;
  color: #0c76b4;
}

/* Navbar */
.navbar-wrapper {
  margin-bottom: 20px;
}
.nav-pills>li>a
{
  border-radius: 0px;
  color: #0c76b4;
}
.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  color: #15476c;
  background: transparent;
}


/* Carousel */
.carousel {
  height: 400px;
  margin-bottom: 25px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

.row {
  margin-bottom: 20px;
  margin-left: 0px;
}

.tournament
{
  border-bottom: 1px solid #ddd;
}

.tournament:last-child
{
  border-bottom: 0px;
}

.games {
  margin-top: 20px;
}

.opponent
{
  float: left;
  width: 50%;
}

.latest .row
{
  margin: 10px;
  text-align: left;
}

.player {
  height: 200px;
}

.well {
  border-radius: 0;
  border: 0;
  text-align: center;
 /* height: 270px; */
}

/* Player Image Styles */

.alpha:hover {
  background-size: cover;
  background-image: url("/roster/pics/alpha.jpeg");
  background-position-y: -110px;
  color: white;
}

.christina:hover {
  background-size: cover;
  background-image: url("/roster/pics/christina.jpg");
  background-position-y: -65px;
  color: white;
}

.constance:hover {
  background-size: cover;
  background-image: url("/roster/pics/constance.png");
  background-position-y: -75px;
  color: white;
}

.craig:hover {
  background-size: cover;
  background-image: url("/roster/pics/craig.png");
  background-position-y: -100px;
  color: white;
}

.dan:hover {
  background-size: cover;
  background-image: url("/roster/pics/dan.png");
  background-position-y: -140px;
  color: white;
}

.default:hover {
  background-size: cover;
  background-image: url("/roster/pics/default.png");
  background-position-y: -140px;
  color: white;
}

.erica:hover {
  background-size: cover;
  background-image: url("/roster/pics/erica.png");
  background-position-y: -135px;
  color: white;
}

.gabby:hover {
  background-size: cover;
  background-image: url("/roster/pics/gabby.jpg");
  background-position-y: -110px;
  color: white;
}

.greg:hover {
  background-size: cover;
  background-image: url("/roster/pics/greg.jpg");
  background-position-y: -110px;
  color: white;
}

.hannah:hover {
  background-size: cover;
  background-image: url("/roster/pics/hannah.jpeg");
  color: white;  
}

.ian:hover {
  background-size: cover;
  background-image: url("/roster/pics/ian.jpeg");
  background-position-y: -75px;
  color: white;
}

.jules:hover {
  background-size: cover;
  background-image: url("/roster/pics/jules.png");
  background-position-y: -110px;
  color: white;
}

.kristin:hover {
  background-size: cover;
  background-image: url("/roster/pics/kristin.png");
  background-position-y: -80px;
  color: white;
}

.laws:hover {
  background-size: cover;
  background-image: url("/roster/pics/laws.jpg");
  background-position-y: -85px;
  color: white;
}

.pogo:hover {
  background-size: cover;
  background-image: url("/roster/pics/pogo.jpg");
  background-position-y: -110px;
  color: white;
}

.riley:hover {
  background-size: cover;
  background-image: url("/roster/pics/riley.png");
  background-position-y: -140px;
  color: white;
}

.rob:hover {
  background-size: cover;
  background-image: url("/roster/pics/rob.png");
  background-position-y: -110px;
  color: white;
}

.roman:hover {
  background-size: cover;
  background-image: url("/roster/pics/roman.png");
  background-position-y: -75px;
  color: white;
}

.ross:hover {
  background-size: cover;
  background-image: url("/roster/pics/ross.png");
  background-position-x: 35px;
  background-position-y: -60px;
  color: white;
}

.smallin:hover {
  background-size: cover;
  background-image: url("/roster/pics/smallin.png");
  background-position-y: -45px;
  color: white;
}

.stephen:hover {
  background-size: cover;
  background-image: url("/roster/pics/stephen.jpg");
  background-position-y: -90px;
  color: white;
}

.tae:hover {
  background-size: cover;
  background-image: url("/roster/pics/tae.png");
  background-position-y: -20px;
  color: white;
}

.tallin:hover {
  background-size: cover;
  background-image: url("/roster/pics/tallin.jpg");
  background-position-y: -110px;
  color: white;
}

footer {
  text-align: center;
}

footer .social {
  font-size: 24px;
}


/* Responsive */

@media (min-width: 768px) {

  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}
