extends layout

block content
	.container
		h1(style="text-align:center;") Blog

		br

		each article in articles

			.row
				h2
					a(href=article.url)
						=article.title
				span.text-muted
					=moment(article.date).format('MMMM DD, YYYY')
				p!= article.intro
