extends layout

block content
	.container
		h1(style="text-align:center;") Contact

		br

		.row
			.col-md-12
				for item in locals.contact
					.col-md-4.col-sm-12(style="text-align:center;")
						a(href=item.url)
							i(class='fa fa-3x fa-'+item.icon)
							br
							=item.name