extends layout

block content
	.container
		.row
			
			.col-md-4
				img.img-responsive(src="/images/errrca.jpg")

			.col-md-4
				.well
					h2 Seattle Freeze Ultimate
					p
						| Seattle Freeze is a mixed team founded in 2014. We 
						a(href="http://www.urbandictionary.com/define.php?term=Seattle%20Freeze&defid=5720299", target="_blank") make tentative plans
						|, build snowmen, and play frosty ultimate.
			.col-md-4
				img.img-responsive(src="images/sky_sm.png")

		.row
			.col-md-4
				.well.latest
					h2 
						| Latest News

					- var articles = env.helpers.getArticles(contents)
					- if (articles.length == 0) {
						| No recent news!
					- }
					- var count = 0;
					each article in articles
						- if (count > 2) break;
						- count++;
						.row
							.col-md-12
								strong
									a(href=article.url)
										=article.title
								span.text-muted
									=' - ' + moment.tz(article.date, 'America/Los_Angeles').format('MMMM DD')
							


			.col-md-4
				img.img-responsive(src="/images/constance_sm.jpg")
			.col-md-4
				include webform.html

		.row
			.col-md-4
				img.img-responsive(src="images/rob_sm.png")

			.col-md-4
				img.img-responsive(src="/images/huddle_sm.png")

			.col-md-4
				a.twitter-timeline(href="https://twitter.com/freezeultimate", data-widget-id="268040900020682752")
					| Tweets by @freezeultimate

	script(type='text/javascript').
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");