extends layout

block content
	.container
		article.article
			header
				h1= page.title

				br

				span.text-muted
					=moment(page.date).format('MMMM DD, YYYY')

			br

			section.content!= page.html
