extends layout

block content
	.container
		h1(style="text-align:center;") Roster

		br

		.row
			img.img-responsive(src="/images/team1.jpg")

		.row
			for item in page.metadata.players
				.col-md-3.col-sm-6.col-xs-12
					.well.player
						h2 
							=item.number
						h3
							=item.name