extends layout

block content
	.container
		h1(style="text-align:center;")
			=page.metadata.title

		br

		.row
			.col-md-12
				img.img-responsive(src="pics/team.jpg")

		.row
			for player in page.metadata.players
				.col-md-3.col-sm-6.col-xs-12
					div(class="well player #{player.classname}")
						h2 
							=player.number
						h3
							=player.name