extends layout

block content
	.container
		h1(style="text-align:center;")
			=page.metadata.title

		br

		.row
			.col-md-12
				img.img-responsive.img-center(src="pics/team.jpg")

		.row
			for player in page.metadata.players
				.col-md-3.col-sm-6.col-xs-12
					div(class="well player")
						h2 
							=player.number
						h3
							=player.name
		if page.metadata.practice						
			.row
				h3
					| Practice Players
				for practice in page.metadata.practice
					.col-md-3.col-sm-6.col-xs-12
						div(class="well player")
							h2
								| &nbsp;
							h3
								=practice.name

		if page.metadata.advisors						
			.row
				h3
					| Advisor
				for advisor in page.metadata.advisors
					.col-md-3.col-sm-6.col-xs-12
						div(class="well player")
							h2
								| &nbsp;
							h3
								=advisor.name