extends layout

block content
	.container
		h1(style="text-align:center;")
			=page.metadata.title

		br

		for item in page.metadata.tournaments
			.row.tournament
				.col-md-6.col-sm-12
						h3
							=item.name
						h4
							=item.dates
						h4 
							=item.location
						h5
							=(item.finish != "" ? item.finish + " place" : "")
						p.text-muted
							=item.notes
				.col-md-6.col-sm-12.games
					for game in item.results
						div(class="row " + (game.result == "win" ? "text-success" : "text-danger"))
							span.opponent
								=game.opponent
							span.score
								=game.score